<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Product List
                    </div>
                    <div class="col-6 text-end ">
                        <button class="btn btn-sm btn-success" (click)="addNewProduct()">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 customized-card" *ngFor="let product  of productList">
                        <div class="card">
                            <img [src]="product.images" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{product.title}} </h5>
                              <p class="card-text"> {{product.category}} </p>
                              <a href="#" class="btn btn-primary"> See Profile </a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        New Product
                    </div>
                    <div class="col-6 text-end ">
                        <button class="btn btn-sm btn-success " (click)="closeProduct()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Product name </label>
                        <input type="text" [(ngModel)]="productObj.title" class="form-control ">
                    </div>
                    <div class="col-6">
                        <label for="">Price</label>
                        <input type="text" [(ngModel)]="productObj.price" class="form-control ">
                    </div>
               </div>    
               <div class="row">
                    <div class="col-6">
                        <label for="">Product stock</label>
                        <input type="text" [(ngModel)]="productObj.stock" class="form-control ">
                    </div>
                    <div class="col-6">
                        <label for="">Product brand</label>
                        <input type="text" [(ngModel)]="productObj.brand" class="form-control ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Category</label>
                        <select [(ngModel)]="productObj.category" class="form-select ">
                            <option *ngFor="let cate of CategoryList" [value]="cate.category">{{cate}} </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Thumbnail</label>
                        <input type="text" [(ngModel)]="productObj.thumbnail" class="form-control ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <label for="">Product image Url</label>
                        <input type="text" [(ngModel)]="productObj.images" class="form-control ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <label for="">Product Description</label>
                       <textarea rows="4" [(ngModel)]="productObj.description"  class="form-control "></textarea> 
                    </div>
                </div>
                <div class="row mt-2 ">
                    <div class="col-6">
                        <button class="btn btn-success ">Reset</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success " >Create Product</button>
                    </div>
                </div>
                    
                
            </div>
        </div>
    </div>
</div>